<section class="datatext-app-content">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/Home']">
          Datatext
        </a>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row container-full">
       <nav class="col-md-2 left-menu">
         <ul class="nav nav-stacked">
           <li><a [routerLink]="['/Pages']">Pages</a></li>
           <li><a [routerLink]="['/NewPage']">New page</a></li>
         </ul>
       </nav>
       <main class="col-md-offset-2 col-md-10 router-outlet">
         <router-outlet></router-outlet>
       </main>
    </div>
  </div>

  <datatext-editor [page]="editedPage"></datatext-editor>
</section>
